/* 영문 - Cafe24Danjunghae */
@font-face {
  font-family: 'djh';
  src: url('/font/Cafe24Danjunghae.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 국문 - IBM Plex Sans */
@font-face {
  font-family: 'ibm-Bold';
  src: url('/font/IBMPlexSansKR-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ibm-ExtraLight';
  src: url('/font/IBMPlexSansKR-ExtraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ibm-Light';
  src: url('/font/IBMPlexSansKR-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ibm-Medium';
  src: url('/font/IBMPlexSansKR-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ibm-Regular';
  src: url('/font/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ibm-SemiBold';
  src: url('/font/IBMPlexSansKR-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ibm-Text';
  src: url('/font/IBMPlexSansKR-Text.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}